[Unit]
Description=Container network
Wants=network.target
After=network-pre.target
Before=network.target

[Service]
Type=oneshot
ExecStart=/bin/true
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

